.beneficios-container {
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 10vh;
}

.beneficios-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.beneficios-col {
  flex: 1;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  max-width: 33.33%;
}

.beneficios-icon {
  font-size: 10vh;
}

.beneficios-col h6 {
  font-size: 1.5rem;
}

.beneficios-col p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .beneficios-col {
    max-width: 100%;
  }
}
