.titulo-pagina {
  padding: 50px 0px;
  text-align: center;
  color: #12c2e9;
}

.custom_top {
  margin-top: 7vh;
  color: #000000;
}

.section_title {
  display: inline-block;
  margin: 0 auto;
  font-size: 4rem;
}

.section_subtitle {
  font-size: 2rem;
}
